<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout.html">
<head>
<meta charset="UTF-8">
<title>[[#{matiere.form.title}]]</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>
<body>

	<section layout:fragment="custom-content">
		<form th:action="@{/matiere/save}" method="post">
			<input type="hidden" name="version" th:value="${matiere.version}">
			<div id="matiereForm" class="card mt-3">
				<div class="card-header bg-info text-white">
					<h3>[[#{matiere.form.titleBis}]]</h3>
				</div>
				<div class="card-body">
					<div class="form-group">
						<label for="nom">[[#{matiere.form.nom}]]</label> <input
							type="text" class="form-control" id="nom"
							name="id.nom" th:value="${matiere.id?.nom}" th:readonly="${readdable == false}">
							<span class="text-danger"
							th:errors="${matiere.id.nom}"></span>
					</div>
					<div class="form-group">
						<label for="niveau">[[#{matiere.form.niveau}]]</label> 
						
						<select  class="form-control" id="niveau"
							name="id.niveau" th:readonly="${readdable == false}">
							<option value="">[[#{matiere.form.niveauEnum}]]</option>
							<option th:each="niv : ${niveauMatieres}" th:value="${niv}" th:selected="${matiere.id?.niveau == niv}" th:readonly="${readdable == false}">[[${niv}]]</option>
						</select>
						<span class="text-danger"
							th:errors="${matiere.id.niveau}"></span>
					</div>
					<div class="form-group">
						<label for="duree">[[#{matiere.form.duree}]]</label> <input
							type="text" class="form-control" id="duree"
							name="duree" th:value="${matiere.duree}">
							<span class="text-danger"
							th:errors="${matiere.duree}"></span>
					</div>
					<div class="form-group">
						<label for="preRequis">[[#{matiere.form.prerequis}]]</label> <input
							type="text" class="form-control" id="preRequis"
							name="preRequis" th:value="${matiere.preRequis}">
					</div>
					<div class="form-group">
						<label for="objectifs">[[#{matiere.form.objectifs}]]</label> <input
							type="text" class="form-control" id="objectifs"
							name="objectifs" th:value="${matiere.objectifs}">
					</div>
					<div class="form-group">
						<label for="programme">[[#{matiere.form.programme}]]</label> <input
							type="text" class="form-control" id="programme"
							name="programme" th:value="${matiere.programme}">
							<span class="text-danger"
							th:errors="${matiere.programme}"></span>
					</div>
				</div>
				<div class="card-footer">
					<div class="btn-group btn-group-lg float-right">
						<button type="submit" class="btn btn-success">
							<i class="fa fa-check"></i>
						</button>
						<a th:href="@{/matiere/cancel}" class="btn btn-warning"> <i
							class="fa fa-undo"></i>
						</a>
					</div>
				</div>

			</div>
		</form>

	</section>
</body>
</html>